@font-face{
    font-family: "BuenosAiresTrialWeb";
    src: url("./BuenosAiresTrialWeb-Regular.woff") format("woff");
}
*{
    margin: 0;
    padding: 0;
}
.body{
    text-align: center;
    width: 100%;

    
}
.layout{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-family: 'Mukta Mahee';
}
.body-1{
    display: flex;
    background-color: #f36223;
    background-image:url('mountain.png'),url("mountain.png"), url("top.png"), url("bottom.png");
    background-blend-mode:soft-light;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
} 
.header{
    display: flex;
    flex-direction: column;
    margin-top: 1.481rem;
}
.navbar{
    display: flex;
    flex-direction: row;
    margin-left: 6.37rem;
    margin-right: 6.37rem;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    flex: 5;
    justify-content: flex-end;
    padding: 1rem;
    align-items: center;
    font-size: 0.926rem;
    line-height: 3.704rem;
}
.nav-menu span{
    margin-left: 1.852rem;
    font-size: 1rem;
    line-height: 3.704rem;
    color: #feffff;
    font-weight: 600;
}
.nav-menu button{
    margin-left: 1.852rem;
}

.nav-button{
    background-color: #fff;
    width: 6.556rem;
    height: 2.778rem;
    border-radius: 1.37rem;
    font-size: 0.926rem;
    filter: drop-shadow(0px 8px 17.5px rgba(0,0,0,0.21));
    font-weight: 600;
    color: #2c2a29;
    text-align: center;
    border: none;
}
.nav-logo img{
    width: 11.407rem;
    height: 3.704rem;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15.556rem;
    margin-right: 17.037rem;
    margin-top: 10.37rem;
    margin-bottom: 12.407rem;
    font-family: "BuenosAiresTrialWeb";
}
.title .title-head{
    font-size: 3.704rem;
    line-height: 4.185rem;
    font-weight: bold;
    color: #ffffff;
}

.title .title-subhead{
    font-size: 1.222rem;
    line-height: 1.852rem;
    color: #feb697;
    font-weight: 500;
    margin-top: 0.926rem;
}
.title .title-button{
    width: 10.556rem;
    height: 2.926rem;
    border-radius: 1.444rem;
    background-color: #fff;
    font-size: 0.926rem;
    filter: drop-shadow(0px 8px 17.5px rgba(0,0,0,0.21));
    font-weight: 600;
    color: #2c2a29;
    border: none;
    margin-top: 2.593rem;
}









.body-2{
    width: 100%;
    /* height: 37.593rem; */
}
.About{
    display: flex;
    flex-direction: row;
    margin-top: 5.56rem;
    margin-left: 6.667rem;
    margin-right: 6.852rem;
    margin-bottom: 5.56rem;
}
.About-header{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    text-align: left;
    margin-top: -2rem;
}
.About-title{
    font-size: 1.148rem;
    line-height: 4.63rem;
    color: #c2c2c2;
    font-weight: 800;
}
.About-subTitle{
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bold;
    margin-top: -1rem;
    font-family: "BuenosAiresTrialWeb";
}
.About-subTitle span{
    color: #f36223;
}
.About-body{
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: #feffff;
    text-align: left;
    padding-left: 5.37rem;
}
.About-body p{
    font-size: 1rem;
    font-weight: 600;
    color: #4d4c4c;
}
.About-ques{
    font-size: 1.607rem;
    line-height: 5.444rem;
    color: #272727;
    font-weight:bolder;
}







.body-3{
    width: 100%;
    /* height: 34.222rem; */
    text-align: center;
    background-color: #feffff;
}
.experience{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.experience-title{
    font-size: 1.852rem;
    line-height: 5.444rem;
    font-weight: 800;
}
.experience .experience-header span{
    color: #dd5214;
}

.experience-subTitle{
    font-size: 1rem;
    margin-top: 1.296rem;
    margin-left: 16.667rem;
    margin-right: 16.667rem;
    font-weight: 600;
    color: #4d4c4c;
}

.experience-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-left: 8rem;
}
.experience-industry{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: left;
    text-align: left;
    /* align-items:flex-start; */
    /* margin-left: 4.519rem; */
}
.experience-list span{
    font-size: 1.222rem;
    line-height: 1.444rem;
    color: #272727;
    font-weight: 600;
    margin-top: 1.296rem;
}
.experience-industry span{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}
.experience-industry span h4{
    line-height: 1.852rem;
}
.experience-industry span img{
    padding-right: 1.296rem;
}






.body-4{
    width: 100%;
    /* height: 18.519rem; */
    background-image: url("mountain2.png");
    background-size: cover;
    /* background-image: linear-gradient(-32deg, #a9451f 0%, #ff580a 100%), url("mountain2.png"); */
}
.Mission{
    display: flex;
    flex-direction: row;
    margin-left: 6rem;
    margin-right: 20rem;
    margin-top: 5.185rem;
    margin-bottom: 5.185rem;
}
.Mission-header{
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}
.Mission-body{
    justify-content: flex-start;
    flex: 3;
    padding-left: 1rem;
    margin-top: 1rem;
}
.Mission-header span{
    font-size: 1.148rem;
    line-height: 4.63rem;
    color: #5e5e5e;
    font-weight: 1000;
}
.Mission-body p{
    /* width: 39.815rem;
    height: 8.963rem; */
    font-size: 1.15rem;
    line-height: 2.296rem;
    color: #ffffff;
    text-align: left;
    font-family: "BuenosAiresTrialWeb";
}






.body-5{
    width: 100%;
    /* height: 38.148rem; */
}
.services{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    text-align: left;
    margin-left: 6.48rem;
    margin-bottom: 3.333rem;
}
.services .services-title{
    text-align: right;
    font-size: 1.148rem;
    line-height: 4.63rem;
    color: #b2b2b2;
    font-weight: 700;
}
.services-item{
    display: flex;
    flex-direction: row;
    margin-top: -2rem;
}
.services-item-part-1{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.services-item-part-2{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.services-topic{
    font-size: 1.222rem;
    line-height: 5.444rem;
    color: #272727;
    font-weight: bolder;
}
.services-item-body{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 2.407rem;
}

.services-details{
    margin-left: 1.296rem;
    margin-top: -1rem;
    width: 21.296rem;
}
.services-details p{
    margin-top: -1rem;
    font-size: 1rem;
    line-height: 1.556rem;
    color: #272727;
    font-weight: 600;
}









.body-6{
    width: 100%;
    /* height: 20rem; */
    background-color: #f5f0ec;
}
.clients{
    display: flex;
    flex-direction: column;
    margin: 3.148rem 17.965rem 3.148rem 17.965rem;
}
.clients-moto span{
    font-size: 1.248rem;
    line-height: 1.556rem;
    color: #272727;
    font-weight: 600;
}
.sponsors{
    margin-top: 2.222rem;
}








.body-7{
    width: 100%;
    /* height: 28.704rem; */
    background-image: url("alone.png");
    background-size: 100%;
    background-color: #f36223;
    background-blend-mode: soft-light;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 6.296rem;
    margin-top: 4.444rem;
    margin-right: 6.296rem;
    margin-bottom: 4.444rem;
}
.info-title{
    font-family: "BuenosAiresTrialWeb";
}
.info-title span{
    font-size: 1.852rem;
    line-height: 2.333rem;
    color: #ffffff;
    font-weight: bold;
}
.info-data{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.info-data .information{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 3.333rem;
}
.information-part{
    margin-left: 24.63rem;
}
.info-submit button{
    width: 10.148rem;
    height: 3.037rem;
    border-radius: 1.519rem;
    filter: drop-shadow(0px 20px 38px rgba(0,0,0,0.19));
    background-color: #ffffff;
    border: none;
    font-size: 1rem;
    line-height: 1.556rem;
    color: #151515;
    font-weight: 700;
    margin-top: 3.333rem;
}
.information span{
    font-size: 1rem;
    line-height: 1.556rem;
    color: #ffffff;
    font-weight: 400;
}

.info-second{
    margin-top: 3.333rem;
}




.body-8{
    width: 100%;
    /* height: 11.037rem; */
    background-color: #1f1e1e;
}
.footer{
    display: flex;
    flex-direction: row;
    margin: 1.667rem 6.296rem;
}
.footer-body{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.footer-icon{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}
.footer-body .Address{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2.222rem;
    font-size: 1rem;
    line-height: 1.556rem;
    color: #b2b2b2;
    font-weight: 600;
}
.footer-logo{
    width: 6.852rem;
    height: 6.852rem;
}
.Address{
    margin-top: 1rem;
}
.Address-body{
    margin-top: 0.8rem;
}

.social-media-contents{
    text-align: left;
    align-items: center;
    margin-top: 1rem;
}
.social-media-contents span{
    font-size: 1rem;
    line-height: 2.63rem;
    color: #b2b2b2;
    font-weight: 400; 
}
.social-media{ 
    display: flex;
    flex-direction: row;
}
.social-media img{
    padding-left:1rem ;
} 